[Unit]
Description=Dogetter Service - Crawler de photo de chien sur le web. Résultat en HTML

[Service]
Type=oneshot
ExecStart=/usr/local/DogRandom/Scripts/start.sh
RemainAfterExit=true
ExecStop=/usr/local/DogRandom/Scripts/stop.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target